.navbar-expand-lg .navbar-collapse {
    justify-content: space-evenly;

}
li.nav-item {
    padding: 0px 10px;
}

li.nav-item a {
    font-size: 18px;
}
li.nav-item {
    padding: 0px 15px;
}

li.nav-item a {
    font-size: 18px;
}
.social-icon a i:hover {
    color: #fff;
}
.social-icon a i {
    font-size: 18px;
    color: #abb8c3;
}
.social-icon {
    display: flex;
    justify-content: flex-end;
}

.social-icon span {
    padding: 0px 15px;
}


ul.navbar-nav {
    width: 100%;
    justify-content: center;
}
.container-fluid.banner {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.main-banner {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    background-repeat: no-repeat;
    background: url(images/IMG_0284b.jpg);
    background-position: center;
    background-size: cover;
}

.text-section {
    text-align: center;
    width: 100%;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background: transparent !important;
}


a.nav-link {
    color: #e0e0e0!important;
}

a.nav-link:hover {
    color: #fff !important;
    text-decoration: underline;
    text-underline-position: under;
}
.text-section h1, .text-section p {
    color: #fff;

}
.text-section h1 {
    font-size: 45px;
    line-height: 2;
    color: rgb(221 221 221);
    letter-spacing: 10px;
}
.text-section p {
    font-size: 18px;
    color: rgb(221 221 221);
    line-height: 2;
}

section#about-us {
    padding-top: 150px;
}
.about_section{
    text-align: center;
}

.heading {
    font-size: 45px;
    line-height: 2;
    letter-spacing: 10px;
    font-weight: 400;
}
.description{
    font-size: 18px;
    line-height: 2;
    color: #595959;
    margin-top: 20px;
}
.image {
    margin-top: 60px;
}

.image img {
    width: 100%;
}
.image img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.image img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.icons {
    text-align: center;
}

.icons i {
    font-size: 50px;
    color: #fff;
}
.col_wrapper div {
    padding: 20px 0px;
    text-align: center;
}

section#service, section#contact {
    background: black;
}
section#contact{
    background: #F7F7F7;
}
h1.heading {
    text-align: center;
}

.col_wrapper {
    padding-top: 50px;
}

.row.multicolumn, #work .about_section, #contact .about_section  {
    padding-top: 150px;
    padding-bottom: 150px;
}


.icon_text {
    color: #b8b8b8;
    font-size: 20px;
}

.dexcriotion_icon {
    color: #999999;
    font-size: 18px;
}

.row.multicolumn h1 {
    color: #fff;
}

/* Tabs */

.tab_content a {
    padding: 20px;
    background: black;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0px 40px;
}

.tab_content {
    padding-top: 40px;
}
.image-container {

    margin-top: 80px;
}
.image-container img {
    width: 350px;
    height: 300px;
}
.hide {
  display: none;
}

/*  */
/* #contact h1.heading {
    color: #ffff;
} */

/* #contact p.description {
    color: #999999;
} */
button.btn.btn-success {
    margin-top: 20px;
    padding: 15px 20px;
}
/* 
#contact span {
    color: #b8b8b8;
} */
.footer {
    background: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}

.image_footer {
    margin-bottom: 30px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}
@media (min-width: 990px) {
    nav.navbar.navbar-expand-lg.bg-body-tertiary {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 99;
        padding-top: 20px;
        padding-left: 20px;
    }
}